<a href="https://colab.research.google.com/github/19PA1A0533/07-03-2020/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 * bias and variance * 
bias:Bias is the simplifying assumptions made by the model to make the target function easier to approximate. 
variance:Bias is the simplifying assumptions made by the model to make the target function easier to approximate. 

* high bias means that if we plot a line our predection will be inacurate and high bias wii dont give good assumption
* The bias error is an error from erroneous assumptions in the learning algorithm. High bias can cause an algorithm to miss the relevant relations between features and target outputs (underfitting).
* The variance is an error from sensitivity to small fluctuations in the training set. High variance can cause an algorithm to model the random noise in the training data, rather than the intended outputs (overfitting).
* and in this under fitting means high bias and over fitting means high variance

* train_test_split * 
* In this first we select the data and we divide it into two parts as test and train and we can allote how much into test and how much into train so bu using#test_size=0.5,and also we import it from sk learn and we definr it as train_test_split.



* cross validation *


* Cross-validation is a statistical method used to estimate the skill of machine learning models. ... There are commonly used variations on cross-validation such as stratified and repeated that are available in scikit-learn.
 
* Cross Validation is used to assess the predictive performance of the models and and to judge how they perform outside the sample to a new data set also known as test data. The motivation to use cross validation techniques is that when we fit a model, we are fitting it to a training dataset.

In [3]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt 
from sklearn import metrics
a=pd.read_csv('students_placement_data.csv')
a.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [0]:
x=a[['SSC Percentage','inter_Diploma_percentage']].values
y=a['B.Tech_percentage'].values

In [0]:
y.shape

(117,)

In [25]:
x.shape

(117, 2)

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [44]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
model.intercept_

-8.937571546426739

In [46]:
predect_btech=model.predict(x_test)
predect_btech

array([59.48428235, 74.39237133, 47.70510932, 62.29059186, 62.07269608,
       38.58534424, 63.65735244, 61.03401875, 64.21328587, 69.64778895,
       69.47400295, 51.16069667, 72.0755656 , 68.16310069, 64.41857474,
       58.94306477, 61.57127722, 62.5781799 , 71.03915168, 63.13088105,
       66.63425342, 52.64568922, 69.41448084, 72.10369535])

In [48]:
k=pd.DataFrame({'actual':y_test,'predected':predect_btech})
k

    actual  predected
0    71.49  59.484282
1    81.10  74.392371
2    62.98  47.705109
3    68.70  62.290592
4    61.02  62.072696
5    60.53  38.585344
6    61.00  63.657352
7    35.84  61.034019
8    68.30  64.213286
9    69.62  69.647789
10   83.38  69.474003
11   45.26  51.160697
12   78.00  72.075566
13   54.18  68.163101
14   65.53  64.418575
15   52.00  58.943065
16   51.00  61.571277
17   73.13  62.578180
18   74.30  71.039152
19   63.41  63.130881
20   70.01  66.634253
21   55.70  52.645689
22   74.96  69.414481
23   70.85  72.103695

In [49]:
print('R2 error:',metrics.r2_score(y_test,predect_btech))

R2 error: 0.20796768422106493

In [51]:
print('mean absolute square error:',metrics.mean_squared_error(y_test,predect_btech))

mean absolute square error: 99.99274207500717