<a href="https://colab.research.google.com/github/19PA1A0533/07-03-2020/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

bias and variance * bias:Bias is the simplifying assumptions made by the model to make the target function easier to approximate. variance:Bias is the simplifying assumptions made by the model to make the target function easier to approximate.
high bias means that if we plot a line our predection will be inacurate and high bias wii dont give good assumption
The bias error is an error from erroneous assumptions in the learning algorithm. High bias can cause an algorithm to miss the relevant relations between features and target outputs (underfitting).
The variance is an error from sensitivity to small fluctuations in the training set. High variance can cause an algorithm to model the random noise in the training data, rather than the intended outputs (overfitting).
and in this under fitting means high bias and over fitting means high variance
train_test_split *
In this first we select the data and we divide it into two parts as test and train and we can allote how much into test and how much into train so bu using#test_size=0.5,and also we import it from sk learn and we definr it as train_test_split.
cross validation *
Cross-validation is a statistical method used to estimate the skill of machine learning models. ... There are commonly used variations on cross-validation such as stratified and repeated that are available in scikit-learn.

Cross Validation is used to assess the predictive performance of the models and and to judge how they perform outside the sample to a new data set also known as test data. The motivation to use cross validation techniques is that when we fit a model, we are fitting it to a training dataset.

In [0]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [21]:
p=pd.read_csv("02.csv")
p

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
x=p[['SSC Percentage']].values
y=p[['B.Tech_percentage']].values

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [5]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
prediction=model.predict(x_test)
prediction

array([[59.5044209 ],
       [59.80095271],
       [68.59608622],
       [53.57378469],
       [57.72523004],
       [53.37214306],
       [56.04092935],
       [65.49436348],
       [62.66545001],
       [64.93688368],
       [62.46973901],
       [70.57098808],
       [54.85480211],
       [69.58650247],
       [64.78268714],
       [67.80731161],
       [70.37527709],
       [48.62763408],
       [66.22383174],
       [67.5107798 ],
       [63.85157725],
       [63.45422462],
       [65.13852531],
       [60.69054815]])

In [24]:
originalvalues=pd.DataFrame({"predictionss":prediction.flatten(),"actual":y_test.flatten()})
originalvalues

    predictionss  actual
0      59.504421   76.02
1      59.800953   55.82
2      68.596086   69.62
3      53.573785   31.20
4      57.725230   36.47
5      53.372143   61.00
6      56.040929   64.63
7      65.494363   57.30
8      62.665450   62.98
9      64.936884   68.70
10     62.469739   59.00
11     70.570988   76.35
12     54.854802   52.09
13     69.586502   72.68
14     64.782687   52.00
15     67.807312   53.26
16     70.375277   88.10
17     48.627634   38.00
18     66.223832   77.50
19     67.510780   72.57
20     63.851577   54.74
21     63.454225   71.65
22     65.138525   67.50
23     60.690548   42.00

In [25]:
print('R2 error:',metrics.r2_score(y_test, prediction))

R2 error: 0.3701245940191299

In [28]:
print('mean square error',metrics.mean_squared_error(y_test, prediction))

mean square error 124.08465844829091

In [0]:
x1=p[['inter_Diploma_percentage']].values
y1=p[['B.Tech_percentage']].values

In [0]:
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.2)

In [14]:
model1=LinearRegression()
model1.fit(x1_train,y1_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
predictions1=model.predict(x_test)
predictions1

array([[59.5044209 ],
       [59.80095271],
       [68.59608622],
       [53.57378469],
       [57.72523004],
       [53.37214306],
       [56.04092935],
       [65.49436348],
       [62.66545001],
       [64.93688368],
       [62.46973901],
       [70.57098808],
       [54.85480211],
       [69.58650247],
       [64.78268714],
       [67.80731161],
       [70.37527709],
       [48.62763408],
       [66.22383174],
       [67.5107798 ],
       [63.85157725],
       [63.45422462],
       [65.13852531],
       [60.69054815]])

In [33]:

actualvalues=pd.DataFrame({"predictionss":predictions1.flatten(),"actual":y1_test.flatten()})
actualvalues

    predictionss  actual
0      59.504421   71.45
1      59.800953   42.52
2      68.596086   53.26
3      53.573785   61.02
4      57.725230   60.53
5      53.372143   62.97
6      56.040929   68.50
7      65.494363   67.06
8      62.665450   69.60
9      64.936884   38.00
10     62.469739   52.09
11     70.570988   65.46
12     54.854802   72.57
13     69.586502   56.88
14     64.782687   73.13
15     67.807312   52.00
16     70.375277   80.47
17     48.627634   64.63
18     66.223832   68.90
19     67.510780   58.00
20     63.851577   75.13
21     63.454225   71.65
22     65.138525   52.56
23     60.690548   51.00

In [35]:
print('R2 error:',metrics.r2_score(y1_test, predictions1))

R2 error: -0.37702444269002133

In [36]:
print('mean  square error:',metrics.mean_squared_error(y_test,predictions1))

mean  square error: 124.08465844829091

#both have same error so both are equally related when they are related to b tech %